* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  input { outline: none; }
  
  body {
    font-family: 'Josefin Sans', sans-serif;
    max-width: 100%;
    height: 100vh;
    font-size: 16px;
  }

  h1{ 
    text-transform: uppercase;
    font-size: 5em;
    letter-spacing: 0.3em;
    color: hsl(0, 6%, 24%);
  }

  main {
      display: flex;
      height: 100%;
      max-width: 100%;
  }

  .left {
      width: 55%;
      height: 100%;
    background: linear-gradient(
135deg
, hsla(0, 0%, 100%, 55%), hsla(0, 100%, 98%, 55%)), url(images/bg-pattern-desktop.svg);
    background-size: cover;
    padding: 50px 9%;
  }

  .left__title{
      margin: 0 0 30px 0;
  }

  .left__title span{
    font-weight: 200;
    color: hsl(0, 36%, 70%);
  }

  .left__text p {
    padding-right: 17.5%;
    line-height: 30px;
    color: hsl(0, 36%, 70%);
  }

  /* Form wrapper style */
.form-wrapper {
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
  }
  
  #email {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #E9DEE0;
    background-color: rgba(0,0,0,0);
    position: absolute;
    padding-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: hsla(0, 36%, 70%, 50%);
  }
  
  #email::placeholder {
    padding-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: hsla(0, 36%, 70%, 50%);
    font-size: 1.2em;
  }
  
  #email:focus {
    padding-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: hsla(0, 36%, 70%, 50%);
  }
  
  .btn {
    width: 25%;
    height: 50px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(140,140,140,0.3);
  }
  
  .btn:hover {
    background: hsl(0, 80%, 86%);
  }
  
  .btn img {
    margin: 0 50%;
    position: relative;
    top: 30%;
  }
  
  /* Behaviour if mail is not correct (controlled by Javascript) */
  #error {
    position: absolute;
    left: -75px;
    display: none;
  }
  
  #error.wrong {
    display: block;
  }
  
  #email.wrong {
    border: 2px solid red;
  }
  
  /* If mail is correct (Just showing a quick green border) */
  #email.right {
    border: 2px solid green;
  }
  
  .error-msg {
    margin-top: 50px;
    margin-left: 20px;
    color: red;
    display: none;
  }
  
  .error-msg.wrong {
    display: block;
  }

  .logo{
      display: inline-block;
      margin: 0 0 150px 0;
  }

  .right {
    width: 45%;
    height: 100%;
    background-image: url(images/hero-desktop.jpg);
    background-size: cover;
  }

  /* MEDIA QUERIES AND BREAK POINTS */
@media screen and (max-width: 1050px) {
    h1 {
      font-size: 3.5em;
    }
  
    #error {
      left: -75px;
    }
  
  }
  
  @media screen and (max-width: 800px) {
    main {
      flex-direction: column;
      width: 100%;
      overflow: visible;
      overflow-x: hidden;
      background: hsla(0, 100%, 98%, 55%);
    }
  
    .left {
      width: 100%;
      height: 60%;
      order: 2;
      padding: 20px 40px;
      margin-bottom: 50px;
      background: hsla(0, 100%, 98%, 55%);
      text-align: center;
    }
  
    h1 {
      font-size: 2.5em;
    }
  
    .left__text p {
      padding-right: 0;
    }
  
    .right {
      width: 100%;
      height: 40%;
      order: 1;
      background-image: url(images/hero-mobile.jpg);
      margin-top: 75px;
    }
  
    .logo {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  
    #error {
      left: -75px;
    }
  
    .error-msg.wrong {
      text-align: left;
    }
  }